* {
    margin: 0;
    padding: 0;
}

body 
{
	background: #172434;
}

.popup-box 
{
	font-size: 20px;
	color: #8FC2ED;
    font-family: arial;
}

#map {
    height: 700px;
    width: 1300px;
    padding: .5em;
}
